
.vs/VB.NetSide/v15/.suo
.vs/VB.NetSide/v15/.suo
.vs/VB.NetSide/v15/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
*.tss
*.exe
*.config
*.pdb
VB.NetSide/bin/Debug/VB.NetSide.xml
.vs/VB.NetSide/v15/TabsStudio.tss
.vs/VB.NetSide/v15/Server/sqlite3/storage.ide-wal
.vs/VB.NetSide/v15/TabsStudio.tss
.vs/VB.NetSide/v15/TabsStudio.tss
